<div>name:{{name}}</div>
<div>breed: {{breed}}</div>
<div>age: {{age}}</div>
<div>favoriteFood: {{favoriteFood}}</div>
<a href="{{_id}}/edit">edit</a>

<form action="/cats/{{id}}/delete" method="post">
    <button type="submit">Delete movie</button>
</form>
